<div class="row no-need">
  <div class="small-12 medium-8 columns small-centered">
    <p>Assuming you have no special spending needs this month, your spending pattern indicates your monthly ending balance will be <span class="positive-balance">[projected amount]</span>.</p>
  </div>
</div>
