<div class="columns">
  <div class="overdraft-alert">
    <p>
    You will run out of funds in your current account in 3 days.
    </p>

    <div class="borrow-button button radius expand">
    Borrow £500 for 85p
    </div>

    <p class="fees">
      The fee of £0.85 will be debited along with the £500 from your account on 1/11, after you've been paid.
    </p>
  </div>
</div>
