<div class="columns">
  <div class="overdraft-alert">
    <p>
    You will run out of funds in your current account in 3 days.
    </p>

    <div class="borrow-button button radius expand">
      Borrow <%=@amount%> for <%=@fee_in_p%>p
    </div>
  </div>
</div>
