<div class="row overdraft-row">
  <div class="columns">
    <div class="overdraft-alert">
      <p>
      You will run out of funds in your current account in 3 days.
      </p>

      <%= link_to 'Borrow £500 for 85p', positions_success_path, class: 'borrow-button button radius expand' %>

      <p class="fees">
        The fee of £0.85 will be debited along with the £500 from your account on 1/11, after you've been paid.
      </p>
    </div>
  </div>
</div>
<div class="row button-container">
  <div class="columns">
  </div>
</div>
<div class="row">
  <div class="small-12 medium-8 columns small-centered text-center">
  </div>
</div>
