<% content_for :javascript_includes do %>
  <%= javascript_include_tag "accountstate.js" %>
<% end %>

<div class="row">
  <div class='small-12 medium-8 small-centered graph' id="graph"></div>
</div>
<% if @projecting_overdraft %>
  <%= render 'overdraft_needed' %>
<% else %>
  <%= render 'no_overdraft_needed' %>
<% end %>
