<div class="row success-row">
  <div class='small-12 text-center'>
    <h1>Success! [Amount] is being transferred to your account!</h1>
    <h2 class='subheader'>The loan repayment amount of [Amount2] will automatically be deducted from your account on [due date]</h2>
  </div>
</div>

