// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.graph {
  border: 1px solid black;
  min-height: 300px;
 }
 .button-container {
  margin-top: 20px;
 }

.success-row, .no-need {
  margin-top: 30px;
}
.borrow-amount, .positive-balance {
  color: green
}
.warning {
  color: red;
}


// Graph related CSS

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}

