// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.graph {
  min-height: 200px;
  margin-bottom: 0px;
  margin-left: -3px;
  width: 102%;
 }

.button-container {
  margin-top: 20px;
}

.success-row, .no-need {
  margin-top: 30px;
}
.borrow-amount, .positive-balance {
  color: green
}

.overdraft-row {
  margin-top: -0px;
}

$alert-border-width: 4px;
.overdraft-alert {
  border: solid $alert-border-width $alert-border-color;
  /*background: rgba(255,74,41, 1);*/
  border-radius: 10px;
  padding: 15px;
  /*color: $body-bg;*/
  color: $alert-text-color;
  background: $alert-bg-color;
  margin-top: 0px;

  &:after, &:before {
	content: "";
	position: absolute;
	border-left: 35px solid transparent;
	border-right: 15px solid transparent;
	bottom: 100%;
	right: 10%;
  }

  &:before {
	border-bottom: 35px solid $alert-border-color;
	margin-bottom: 0px;
  }

  &:after {
	border-bottom: 35px solid $alert-bg-color;
	margin-bottom: -($alert-border-width);
	z-index: 1;
  }
}

.borrow-button {
  margin-top: 0px;
  background-color: darken($green,20%);
  color: lighten($green, 10%);
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
  &:hover {
    color: $green;
    background-color: darken($green,20%); }
}

.fees {
  margin-bottom: 0px;
  color: rgba(00,0,0,0.5);
}


.logo {
  display: inline-block;
  height: 22px;
  width: 22px;
  margin-top: -3px;
}

.top-bar h1 a {
  color: white !important;
  opacity: 0.7;
}

// Graph related CSS
